@model IEnumerable<Models_Class.ListaDeProdCliente>

<div>
    <img src="https://ac2020storage.blob.core.windows.net/joaomachado/shopping-cart-5187701_1280.jpg" alt="Alternate Text" style="width:100%" />
    <h1 id="primeiro_t">O SEU</h1><h1 id="segundo_t">CARRINHO</h1>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Preco)</th>
                <th>@Html.DisplayNameFor(model => model.Quantidade)</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            @if (item != null)
            {
                <tbody>
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Preco.ToString("F2") € KG</td>
                        <td>@item.Quantidade</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ProdutoId">Detalhe</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProdutoId">Remover</a>
                        </td>
                    </tr>
                </tbody>
            }
        }
        <tbody>
            <tr style="font-weight: 700;font-size: medium;">
                <td>TOTAL</td>
                <td>@ViewBag.total €</td>
            </tr>
        </tbody>

    </table>
    <a href="" type="button" class="btn btn-success">Finalizar encomenda</a>
    <a href="/Home/Produto" type="button" class="btn btn-secondary">Voltar aos produtos</a>
</div>

