@model IEnumerable<Models.Produto>

@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="https://ac2020storage.blob.core.windows.net/joaomachado/christmas-2918569_192022.jpg" alt="" style="width:100%;">
        </div>
        <div class="item">
            <img src="https://ac2020storage.blob.core.windows.net/joaomachado/blueberries-2278921_192022.jpg" alt="Chicago" style="width:100%;">
        </div>
        <div class="item">
            <img src="https://ac2020storage.blob.core.windows.net/joaomachado/frutas.png" alt="New york" style="width:100%;">
        </div>
    </div>
</div>
<div class="texto-pricipal">
    <h3>Encomende aqui os melhores produtos</h3>
    <a id="btn-central" href="/CarrinhoCompras/Carrinho" type="button" value="">Carrinho</a>
    <a id="btn-central" href="/Home/Produto" type="button" value="">Produto</a>
    <p>Os produtos mais frescos em nossa casa</p>
    <p> EM SUA CASA</p>
</div>
<div class="text-center" style="margin-top:10px">
    <h2>Em destaque esta semana..</h2>
</div>
<div class="box-wrap">
    @*Vai criar uma box para cada produto contido na Base de dados*@
    @*casa box vai ter um botão associado ao id do produto que ao clicar chama a função encomendar no ficheiro LOGIN.JS*@
    @foreach (var item in Model)
    {
        <div id="tamanhoCartaoProduto" class="col-xl-4 box">
            <div class="card" style="border: none;text-align: center">
                <img class="card-img-top" src="@item.Url" alt="Card image cap" style="width: 70%;align-self: center;">
                <div class="card-body">
                    <form action="" method="post">
                        <h4 class="card-title">@item.Nome</h4>
                        <p class="card-text" style="font-size: xx-large; font-style: italic; text-shadow: 1px 4px 7px #000000;">@item.Preco € KG</p>
                        <p style="color: black;font-size: 16px;text-shadow: 1px 4px 7px #000000">@item.Descricao</p>
                        <br />
                        <button type="button" class="btn btn-primary fa fa-shopping-cart" onclick="encomendar(@item.Id)"> Adicionar</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
