@model IEnumerable<Models.Produto>
@{
    ViewData["Title"] = "Produtos";
}
<div class="" style="text-align: center;">
    <p class="into" style="POSITION: absolute; z-index: 1; margin-left: 15%; font-size: 227%;">OS SEUS</p>
    <p class="into" style="POSITION: relative; margin-top: 14%; z-index: 1; margin-left: 32%; font-size: 227%;">PRODUTOS</p>
    <img id="Img-Produto" src="~/img/Imagens_site/apple-recortada.png" alt="Alternate Text"/>
</div>
<br />
<div class="box-wrap">
    @*Vai criar uma box para cada produto contido na Base de dados*@
    @*casa box vai ter um botão associado ao id do produto que ao clicar chama a função encomendar no ficheiro LOGIN.JS*@
    @foreach (var item in Model)
    {
        <div id="tamanhoCartaoProduto" class="col-xl-4 box">
            <div class="card" style="border: none;text-align: center">
                <img class="card-img-top" src="@Url.Action("GetImage", "Home", new { ProdutoId = item.ProdutoId })" alt="Card image cap" style="width: 70%;align-self: center;">
                <div class="card-body">
                    <form action="" method="post">
                        <h4 class="card-title">@item.Nome</h4>
                        <p class="card-text" style="font-size: xx-large; font-style: italic; text-shadow: 1px 4px 7px #000000;">@item.Preco € KG</p>
                        <p style="color: black;font-size: 16px;text-shadow: 1px 4px 7px #000000">@item.Descricao</p>
                        <br />
                        <button type="button" class="btn btn-primary fa fa-shopping-cart" onclick="encomendar(@item.ProdutoId)"> Adicionar</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
<hr />