@model Models.Produto

@{
    ViewData["Title"] = "Detalhe";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div>
        <hr />
        <div class="col-xl-4">
            <div class="card" style="border: none">
                <img class="card-img-top" src="@Model.Url" alt="Card image cap">
                <div class="card-body">
                    <form action="/CarrinhoCompras/Create/@Model.Id" method="post">
                        <label class="card-title">@Model.Nome</label>
                        <label class="card-text">@Model.Preco € KG</label>
                        <label style="color: black; font-size: 16px;">@Model.Descricao</label>
                        <br />
                        <button type="button" class="btn btn-primary fa fa-shopping-cart" onclick="encomendar(@Model.Id)"> Adicionar</button>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <a asp-controller="Home" asp-action="Produto" type="button" class="btn btn-secondary">Voltar aos produtos</a>
        </div>
    </div>
</div>
