@model IEnumerable<Models.Produto>
<div>
    <a href="/Produtos/MenuGestaoProduto" type="button" class="btn btn-secondary">Voltar aos produtos</a>
</div>
@foreach (var item in Model)
{
    <div class="col-xl-4 box" style="width:26%;">
        <div class="card" style="border: none;text-align: center">
            <img class="card-img-top" src="@Url.Action("GetImage", "Home", new { ProdutoId = item.ProdutoId })" alt="Card image cap" style="width: 70%;align-self: center;">
            <div class="card-body">
                <form action="" method="post">
                    <h4 class="card-title">@item.Nome</h4>
                    <p class="card-text" style="font-size: xx-large; font-style: italic; text-shadow: 1px 4px 7px #000000;">@item.Preco € KG</p>
                    <p style="color: black;font-size: 16px;text-shadow: 1px 4px 7px #000000">@item.Descricao</p>
                    <p style="color: black;font-size: 16px;text-shadow: 1px 4px 7px #000000">Stock: @item.Stock</p>
                    <br />
                    <a asp-action="Edit" asp-route-id="@item.ProdutoId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProdutoId">Delete</a>
                </form>
            </div>
        </div>
    </div>
}