@model IEnumerable<Models.Funcionario>

@{ ViewData["Title"] = "Index"; }

<h1>Lista de Funcionários</h1>

<p>
    <div>
        <div class="row col offset-2">
            <a asp-action="CreateFuncionario" class="btn btn-primary"><i class="fas fa-plus"></i> Registar Funcionário</a>
            &ensp;
            <a asp-controller="Produtos" asp-action="GestaoProduto" class="btn btn-success">Voltar Área Gestão</a>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeTrabalhador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumeroDeTrabalhador)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cargo)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
